# Ignoriere Verzeichnisse
/*
/*/_misc
/*/*/_misc

# Ignoriere Dateien nach einem vorgegebenen Muster
*.pptx
*.png
*.jpeg
*.jpg
*.docx

# Ignoriere Dateien
03 doc/Vita.pdf

# Erlaube Git, spezifische Verzeichnisse/Dateien zu verfolgen
!README.md
!01 ipynb/
!02 data/
!03 doc/
!04 model/