# Ignoriere alle Dateien und Verzeichnisse
/*
/*/_misc

# Erlaube Git, spezifische Verzeichnisse/Dateien zu verfolgen
!.gitignore
!README.md
!01 ipynb/
!02 data/
!03 doc/
!04 model/

# Dateien ausschließen
03_doc/Kurz_Vita.pdf"

# Dateien nach einem vorgegebenen Muster ausschließen
*.pptx
*.png
*.jpeg
*.jpg
*.docx